---
import ProfileCard from "@/components/ProfileCard.astro";
import MainLayout from "@/layouts/MainLayout.astro";

const { user, isLoggedIn } = Astro.locals;

if(!isLoggedIn || !user) {
    return Astro.redirect("/auth/login");
}
---

<MainLayout title="Protected Page" description="This is a protected page">
    <section class="container mx-auto">
        <h3 class="font-semibold text-2xl text-gray-800">Protected Page</h3>
        <ProfileCard  user={user} />
    </section>
</MainLayout>
