---

---

<section
    class="container mx-auto flex flex-col items-center justify-center gap-4 mt-24"
>
    <h3 class="text-5xl font-bold text-gray-800">Welcome to Astro Auth</h3>
    <p>
        This is a starter template for <a class="text-blue-500" href="https://astro.build/">Astro</a>
        authentication that uses <a
            class="text-blue-500"
            href="https://docs.astro.build/es/guides/authentication/">Auth Astro</a
        >
        and <a
            class="text-blue-500"
            href="https://authjs.dev/"
            >Auth.js</a
        > for authentication.
    </p>
</section>
