---
import Navbar from '@/components/share/Navbar.astro';
import { SITE_INFO } from '@/constants/site-config.ts';

interface Props {
  title?: string;
  description?: string;
}

const { 
    title = SITE_INFO.title, 
    description = SITE_INFO.description 
} = Astro.props;

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
        <Navbar />
		<slot />
	</body>
</html>
